<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>login.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsServlet</display-name>
    <servlet-name>StudentsServlet</servlet-name>
    <servlet-class>servlet.StudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsServlet</servlet-name>
    <url-pattern>/StudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditServlet</display-name>
    <servlet-name>StudentEditServlet</servlet-name>
    <servlet-class>servlet.StudentEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditServlet</servlet-name>
    <url-pattern>/StudentEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>servlet.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachersServlet</display-name>
    <servlet-name>TeachersServlet</servlet-name>
    <servlet-class>servlet.TeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachersServlet</servlet-name>
    <url-pattern>/TeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcademyClassesServlet</display-name>
    <servlet-name>AcademyClassesServlet</servlet-name>
    <servlet-class>servlet.AcademyClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademyClassesServlet</servlet-name>
    <url-pattern>/AcademyClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsServlet</display-name>
    <servlet-name>SubjectsServlet</servlet-name>
    <servlet-class>servlet.SubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsServlet</servlet-name>
    <url-pattern>/SubjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDeleteServlet</display-name>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <servlet-class>servlet.TeacherDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <url-pattern>/TeacherDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcademyClassDeleteServlet</display-name>
    <servlet-name>AcademyClassDeleteServlet</servlet-name>
    <servlet-class>servlet.AcademyClassDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademyClassDeleteServlet</servlet-name>
    <url-pattern>/AcademyClassDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectDeleteServlet</display-name>
    <servlet-name>SubjectDeleteServlet</servlet-name>
    <servlet-class>servlet.SubjectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectDeleteServlet</servlet-name>
    <url-pattern>/SubjectDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcademyClassEditServlet</display-name>
    <servlet-name>AcademyClassEditServlet</servlet-name>
    <servlet-class>servlet.AcademyClassEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademyClassEditServlet</servlet-name>
    <url-pattern>/AcademyClassEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectEditServlet</display-name>
    <servlet-name>SubjectEditServlet</servlet-name>
    <servlet-class>servlet.SubjectEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectEditServlet</servlet-name>
    <url-pattern>/SubjectEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherEditServlet</display-name>
    <servlet-name>TeacherEditServlet</servlet-name>
    <servlet-class>servlet.TeacherEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherEditServlet</servlet-name>
    <url-pattern>/TeacherEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassSubjectsEditServlet</display-name>
    <servlet-name>ClassSubjectsEditServlet</servlet-name>
    <servlet-class>servlet.ClassSubjectsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassSubjectsEditServlet</servlet-name>
    <url-pattern>/ClassSubjectsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassSubjectDeleteServlet</display-name>
    <servlet-name>ClassSubjectDeleteServlet</servlet-name>
    <servlet-class>servlet.ClassSubjectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassSubjectDeleteServlet</servlet-name>
    <url-pattern>/ClassSubjectDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllSubjectsClassesServlet</display-name>
    <servlet-name>AllSubjectsClassesServlet</servlet-name>
    <servlet-class>reports.AllSubjectsClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllSubjectsClassesServlet</servlet-name>
    <url-pattern>/AllSubjectsClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReportServlet</display-name>
    <servlet-name>ClassReportServlet</servlet-name>
    <servlet-class>reports.ClassReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReportServlet</servlet-name>
    <url-pattern>/ClassReportServlet</url-pattern>
  </servlet-mapping>
</web-app>